<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aedc67">  <td>20/09/17 09:59:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;landing_page.beforeClass()[pri:0, instance:tests.landing_page@335eadca]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648680157</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>20/09/17 09:59:59</td>   <td>1690</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;add_to_cart.beforeClass()[pri:0, instance:tests.add_to_cart@210366b4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648680157</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>20/09/17 09:59:57</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="landing_page.landing_categories()[pri:0, instance:tests.landing_page@335eadca]">landing_categories</td> 
  <td>main@648680157</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>20/09/17 10:00:18</td>   <td>21019</td> <td>&nbsp;</td><td title="&lt;&lt;landing_page.postTest()[pri:0, instance:tests.landing_page@335eadca]">&lt;&lt;postTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648680157</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>20/09/17 09:59:43</td>   <td>-13611</td> <td>&nbsp;</td><td title="&gt;&gt;landing_page.preTest()[pri:0, instance:tests.landing_page@335eadca]">&gt;&gt;preTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648680157</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>20/09/17 10:00:06</td>   <td>8950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="add_to_cart.random_add_cart()[pri:2, instance:tests.add_to_cart@210366b4]">random_add_cart</td> 
  <td>main@648680157</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>20/09/17 09:59:59</td>   <td>1693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="add_to_cart.search_item()[pri:1, instance:tests.add_to_cart@210366b4]">search_item</td> 
  <td>main@648680157</td>   <td></td> </tr>
</table>
