<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Testing Lazada App</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aedc67">  <td>20/09/17 10:10:44</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;landing_page.preTest()[pri:0, instance:tests.landing_page@520a3426]">&gt;&gt;preTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>20/09/17 10:11:09</td>   <td>25499</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;landing_page.beforeClass()[pri:0, instance:tests.landing_page@520a3426]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>20/09/17 10:11:09</td>   <td>25518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="landing_page.landing_categories()[pri:0, instance:tests.landing_page@520a3426]">landing_categories</td> 
  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>20/09/17 10:11:10</td>   <td>26683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="create_account.register_page()[pri:0, instance:tests.create_account@18eed359]">register_page</td> 
  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>20/09/17 10:11:21</td>   <td>37502</td> <td>&nbsp;</td><td title="&lt;&lt;landing_page.postTest()[pri:0, instance:tests.landing_page@520a3426]">&lt;&lt;postTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@510464020</td>   <td></td> </tr>
</table>
